/*
  =========================
          everything
  =========================
*/

* {
  box-sizing: border-box;
}

*::before,
*::after {
  clear: both;
}
/*
  =========================
            main
  =========================
*/

body {
  background-color: #4C98AF;
  font-family: Helvetica, "sans serif";
  font-size: 14px;
}

/*
  =======================
    Header and Footer
  =======================
*/

header,
footer {
  background-color: #0B5067;
  display: inline-block;
  width: 100%;
  padding: 1rem;
}

header nav {
  float: right;
  background-color: #023748;
  word-spacing: 1rem;
}
header a {
  color: #2CA756;
}

header a:hover {
  color: #9AE4B3;
}

header a:visited {
  color: #09792F;
}

header h2,
header li {
  display:inline-block;
}

header ul {
  margin-right: 2rem;
}

small,
h1,
h2 {
    color: #DDD;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
}

/*
  =========================
          Images
  =========================
*/

article img {
  border: 2px solid #333;
  float: left;
  padding: 1px;
}

img {
  margin: 1rem;
}

.main-img {
  float:right;
}

/*
  ========================
          Articles
  ========================
*/

section {
  display: inline-block;
}

article {
  float:left;
  width:32%;
  padding-left: 1%;
}

article p::first-letter {
  font-size: 2rem;
  color: #093278;
  font-weight: bold;
}

article a {
  font-weight: lighter;
  font-size: 0.7rem;
  color: #093278;
  float: right;
}

/*
  =========================
          Footer
  =========================*/


footer {
  margin-top: 3rem;
 }

small {
  padding-left: 3rem;
}
